html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.TodoApp{
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 50%;
  background-color: white;
  padding: 20px;
}

ul{
  list-style-type: none;
}

.todoLi button{
  float: right;
}

body{
  background-color: #f5f5f5;
}

.todoLi{
 background-color: white; 
 border: 1px solid black;
 margin: 5px;
 padding: 5px;
}
